<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeTache">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.typeTache.detail.title">Type Tache</span> {{ typeTache.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.typeTache.nom">Nom</span></dt>
                <dd>
                    <span>{{ typeTache.nom }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.typeTache.couleur">Couleur</span></dt>
                <dd>
                    <span>{{ typeTache.couleur }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-tache', typeTache.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
