<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.ville.home.title">Villes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ville" [routerLink]="['/ville/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.ville.home.createLabel">
            Create a new Ville
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="villes?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.ville.home.notFound">No villes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="villes && villes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.ville.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.ville.codePostal">Code Postal</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ville of villes ;trackBy: trackId">
                    <td><a [routerLink]="['/ville', ville.id, 'view']">{{ ville.id }}</a></td>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ville', ville.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ville', ville.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ville)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
